.vscode/
*venv*/*

*.DS_Store*
*.ipynb_checkpoints
*.$*.bkp
.DS_Store
.idea/
*.$*.kp
**/__pycache__/
*.cpython-310.pyc
*.pyc

*wandb/
src/cuda*

# data
*images/
public_datasets/2D
public_datasets/3D
datasets/*